{% set translations = {
    mb: 'MB' | trans,
    copy: 'Copy' | trans,
    errorType: data.errorType | default(''),
} %}

<web-mp-media-file-upload
    {% if data.import is defined %}import-url="{{ data.import }}"{% endif %}
    {% if data.hook is defined %}hook-url="{{ data.hook }}"{% endif %}
    data="{{ data.fileData | json_encode }}"
    button-size="{{ data.buttonSize is defined ?: 'lg' }}"
    max-call-amount="20"
    translations="{{ translations | json_encode }}"
    {% if data.multiple is defined %}multiple{% endif %}
    {% if data.download is defined %}download-url="{{ data.download }}"{% endif %}
    {% if data.noCDNPreview is defined %}show-cdn="false"{% endif %}
>
    {% block textData %}{% endblock %}

    <span modal-cancel-btn>{{ 'Cancel' | trans }}</span>
    <span modal-upload-btn>{{ 'Upload' | trans }}</span>
    <span modal-back-btn>{{ 'Back' | trans }}</span>
    <span modal-show-progress-btn>{{ 'Show Progress' | trans }}</span>
</web-mp-media-file-upload>
