{% extends '@Spryker:ProductMerchantPortalGui/Partials/product_abstract_form.twig' %}

{% block action %}
    <h1>Test</h1>
    {%- if productAbstract.approvalStatus == 'draft' -%}
        <web-spy-button-link cloak variant="outline" size="lg" class="{{ mainClass }}__approval-status-button" url="{{ urlUpdateApprovalStatus }}" action>{{ 'Send for Approval' | trans }}</web-spy-button-link>
    {%- endif -%}
    {%- if productAbstract.approvalStatus == 'waiting_for_approval' -%}
        <web-spy-button-link cloak variant="outline" size="lg" class="{{ mainClass }}__approval-status-button" url="{{ urlUpdateApprovalStatus }}" action>{{ 'Back to draft' | trans }}</web-spy-button-link>
    {%- endif -%}
    <web-spy-button cloak size="lg" type="submit" action>{{ 'Save' | trans }}</web-spy-button>
{% endblock %}

