{% extends molecule('merchant-product-offer-item', '@SprykerShop:MerchantProductOfferWidget') %}

{% define data = {
    currentProductPrice: required,
} %}

{% block extraClass %}{% endblock %}

{% block contentCol %}
    <div class="col col--expand col--reset-min-width">
        {{ block('content') }}
    </div>
{% endblock %}

{% block merchantInfoCol %}
    <div class="col col--expand col--reset-min-width">
        {{ block('merchantName') }}
        {{ block('merchantLink') }}
    </div>
{% endblock %}

{% block merchantName %}
    <span class="{{ config.name }}__name">{{ data.merchantName }}</span>
{% endblock %}

{% block merchantLink %}
    <a class="{{ config.name }}__link link link--darkest" href="{{ functionExists('generatePath') ? generatePath(data.merchantUrl) : data.merchantUrl }}">
        {{ 'merchant_product_offer.view_seller' | trans }}
    </a>
{% endblock %}

{% block price %}
    {% widget 'CurrentProductPriceVolumeWidget' args [data.currentProductPrice] only %}
        {% block priceTable %}{% endblock %}
    {% nowidget %}
        {{ parent() }}
    {% endwidget %}
{% endblock %}
