{% extends molecule('merchant-profile', '@SprykerShop:MerchantProfileWidget') %}

{% block extraClass %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="{{ config.name }}__top-block grid" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="identifier" content="{{ data.merchantReference }}"/>
        <meta itemprop="name" content="{{ data.merchantName }}"/>
        {% if data.merchantStorageProfile.logoUrl %}
            <meta itemprop="logo" content="{{ data.merchantStorageProfile.logoUrl | trans }}"/>
        {% endif %}

        {{ block('contentInner') }}

        <section class="col col--sm-12 col--lg-12 merchant-review-summary"></section>
    </div>

    {{ block('additional') }}
{% endblock %}

{% block contentInner %}
    <div class="col col--sm-12 col--lg-6 col--spaced-lg">
        {% set additionaImageClass = '' %}
        {% set additionaImageModifiers = ['expand'] %}
        {% set bannerUrlGlossaryValue = (data.merchantStorageProfile.bannerUrlGlossaryKey ?: '') | trans %}
        {% set hasBannerUrlTranslation = data.merchantStorageProfile.bannerUrlGlossaryKey
            ? data.merchantStorageProfile.bannerUrlGlossaryKey != bannerUrlGlossaryValue %}

        {% if hasBannerUrlTranslation %}
            {{ block('image') }}
        {% endif %}
    </div>

    <div class="col col--sm-12 col--lg-6 col--spaced-lg">
        {{ block('detail') }}

        {% widget 'MerchantOpeningHoursWidget' args [data.idMerchant] only %}{% endwidget %}
    </div>
{% endblock %}

{% block detailInner %}
    <div class="col col--sm-12 grid spacing-bottom spacing-bottom--big">
        <div class="col col--sm-9 col--lg-10">
            <section itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating"></section>

            {% set descriptionGlossaryValue = (data.merchantStorageProfile.descriptionGlossaryKey ?: '') | trans %}
            {% set hasDescriptionTranslation = data.merchantStorageProfile.descriptionGlossaryKey
                ? data.merchantStorageProfile.descriptionGlossaryKey != descriptionGlossaryValue %}

            {% if hasDescriptionTranslation %}
                {{ descriptionGlossaryValue }}
            {% endif %}
        </div>

        <div class="col col--sm-3 col--lg-2">
            {% set additionalLogoClass = 'spacing spacing--reset' %}
            {% set additionalLogoModifiers = ['thumbnail', 'small'] %}

            {% if data.merchantStorageProfile.logoUrl %}
                {{ block('logo') }}
            {% endif %}
        </div>
    </div>

    <div class="grid grid--expand box box--with-border">
        {{ block('informationInner') }}
    </div>
{% endblock %}

{% block address %}
    {% embed molecule('information-item', 'MerchantPage') with {
        data: {
            title: 'merchant_profile.address' | trans,
        },
        embed: {
            addresses: merchantAddresses,
        },
    } only %}
        {% block text %}
            <div class="{{ config.name }}__text">
                {% for address in embed.addresses %}
                    <div>{{ address.address1 }} {{ address.address2 }}</div>
                    <div>{{ address.zipCode }} {{ address.city}}</div>
                    <div>{{ address.address3 }}</div>
                    <div>{{ address.countryName }}</div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

 {% block additionalInformation %}
     <div class="box box--with-border">
         <h4 class="{{ config.name }}__info-title">{{ informationArticle.title }}</h4>
         <div class="{{ config.name }}__info-text">{{ informationArticle.text | raw }}</div>
     </div>
 {% endblock %}
