{#
@var productAbstractTableConfiguration \Generated\Shared\Transfer\GuiTableConfigurationTransfer
#}

{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headSubTitle %}
    {{- 'Products' | trans -}}
{% endblock %}

{% block content %}
    {% set actionConfig = '{
        "type": "drawer",
        "component": "ajax-form",
        "options": {
            "inputs": {
                "action": "' ~ url(urlCreateProductAbstract) ~ '"
            }
        }
    }' %}

    <web-mp-product-list
        cloak
        table-id="{{ idTableProductList }}"
        table-config='{{ guiTableConfiguration(productAbstractTableConfiguration) }}'>
        <h1 title>{{ 'Products' | trans }}</h1>
        <div class="spy-col-basis-auto spy-col-gutter-md">
            {% set imagesTypes = constant('Pyz\\Shared\\FileUpload\\FileUploadConfig::ACCEPTED_IMAGE_CONTENT_TYPES') | join(', ') %}
            {% set videoTypes = constant('Pyz\\Shared\\FileUpload\\FileUploadConfig::ACCEPTED_VIDEO_CONTENT_TYPES') | join(', ') %}
            {% set docTypes = constant('Pyz\\Shared\\FileUpload\\FileUploadConfig::ACCEPTED_DOCUMENT_CONTENT_TYPES') | join(', ') %}
            {% set types = "#{imagesTypes}, #{videoTypes}, #{docTypes}" %}

            {% set mediaData = [
                {
                    size: 2,
                    errorSize: 'The file should be less then %size% MB' | trans({
                    '%size%': 2,
                }),
                    types: imagesTypes,
                },
                {
                    size: 100,
                    errorSize: 'The file should be less then %size% MB' | trans({
                    '%size%': 100,
                }),
                    types: videoTypes,
                },
                {
                    size: 25,
                    errorSize: 'The file should be less then %size% MB' | trans({
                    '%size%': 25,
                }),
                    types: docTypes,
                }
            ] %}

            {% embed 'ZedUi/Partials/file-upload.twig' with {
                data: {
                    errorType: 'Only %types% file formats are allowed' | trans({
                        '%types%': types
                    }),
                    import: '/product-merchant-portal-gui/products/get-import-url',
                    hook: '/product-merchant-portal-gui/products/save-import-url',
                    multiple: true,
                    fileData: mediaData,
                    buttonSize: 'md',
                    download: false,
                    noCDNPreview: false,
                }
            } %}
                {% block textData %}
                    <ul description>
                        <li>
                            {{ 'Maximum %value% media can be uploaded in one upload.' | trans({
                                '%value%': 20,
                            }) }}
                        </li>
                    </ul>
                    <span modal-title>{{ 'Import Media' | trans }}</span>
                    <span input-label>{{ 'Choose or drag your media' | trans }}</span>
                    {{ 'Import Media' | trans }}
                {% endblock %}
            {% endembed %}
        </div>
        <web-spy-button-action
            button-action
            type="button"
            size="lg"
            variant="primary"
            action="{{ actionConfig }}">
            {{ 'Create Product' | trans }}
        </web-spy-button-action>
    </web-mp-product-list>
{% endblock %}
